@model List<UserRolesDTO>

@{
    ViewData["Title"] = "Get All Users";
}

<h1>Users List</h1>
<div style="display: flex; flex-direction: column; gap: 5px;">
    @foreach (var user in Model)
    {
        <div style="display: flex; flex-direction: row; gap: 5px;">
        @*<form style="display: flex; flex-direction: row; gap: 5px;" asp-controller="Identity" asp-action="DeleteRole" method="post">*@
            @*<input type="text" name="@role.Id" id="@role.Id" asp-for="@role.Id" value="@role.Id" disabled />*@
             <input value="@user.FullName" disabled />
             <input value="@user.Email" disabled />
             <input value="@user.Role" disabled />
             <a asp-controller="Identity" asp-action="DeleteUser" asp-route-id="@user.Id">Delete</a>
            @*<input type="submit" value="Delete" />*@
        @*</form>*@
        </div>

    }
</div>